langchain==0.3.19
langchain_community==0.3.18
langchain_core==0.3.37
langchain_experimental==0.3.4
langgraph==0.2.74
SQLAlchemy==2.0.25
streamlit==1.42.2
typing_extensions==4.12.2
openai==1.63.2
psycopg2==2.9.10